<h1>Editing detalle</h1>

<%= render 'form' %>


<%= link_to 'Show', empresa_producto_item_producto_detalle_path(@empresa,@producto,@item_producto,@detalle) %> 
<%= link_to 'Back', empresa_producto_item_producto_detalles_path %>