<h1>Editing informacion_empresa</h1>

<%= render 'form' %>

<%= link_to 'Show', empresa_informacion_empresa_path(@empresa,@informacion_empresa)%> 
<%= link_to 'Back', empresa_informacion_empresas_path(@empresa) %>
