<h1>Editing item_producto</h1>

<%= render 'form' %>

<%= link_to 'Show', empresa_producto_item_producto_path(@empresa,@item_producto,@producto) %>
<%= link_to 'Back', empresa_producto_item_productos_path %>
