<h1>Editing opinion</h1>

<%= render 'form' %>

<%= link_to 'Show', empresa_producto_item_producto_opinion_path(@empresa,@producto,@item_producto,@opinion) %> 
<%= link_to 'Back', empresa_producto_item_producto_opinions_path %>