<h1>Editing galeria_prop</h1>

<%= render 'form' %>

<%= link_to 'Show', empresa_producto_prop_general_galeria_prop_path(@empresa,@producto,@prop_general,galeria_prop) %> |
<%= link_to 'Back', empresa_producto_prop_general_galeria_props_path %>
