<h1>Editing preparar_mate</h1>

<%= render 'form' %>

<%= link_to 'Show', empresa_producto_preparar_mate_path(@empresa,@producto,@preparar_mate) %> |
<%= link_to 'Back', empresa_producto_preparar_mates_path %>
