<div class="container">
    <div class="row">
        <div class="col-lg-7 col-lg-offset-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2 class="panel-title text-center">Nuevo Video del Producto</h2>
                </div>
                    
                <div class="panel-body">
    				<%= render 'form' %>
    			</div>
    		</div>
    	</div>
    </div>
</div>
