<h1>Editing prop_general</h1>

<%= render 'form' %>

<%= link_to 'Show', empresa_producto_prop_general_path(@empresa,@producto,@prop_general) %>|
<%= link_to 'Back', empresa_producto_prop_generals_path %>
