<h1>Editing galeria_imagene</h1>

<%= render 'form' %>

<%= link_to 'Show', empresa_producto_item_producto_galeria_imagene_path(@empresa,@producto,@item_producto,@galeria_imagene)%> 
<%= link_to 'Back', empresa_producto_item_producto_galeria_imagenes_path %>
